<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
/>
<div class="container text-center">
    <h1>About Page</h1>

    <p>This was a simple test project using Django</p>
    <p>©TomHooperMedia 2020</p>
    <a href="https://github.com/tjhooper1" target="_blank">GitHub</a>
    <br>
    <a href="https://www.instagram.com/tjhooper/" target="_blank">Instagram</a>
    <br>
    <a href="{% url 'home' %}">Home</a>
</div>
